@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

#body {
    padding-bottom: 5rem;
}

@media (max-width: 700px) {
    #body {
        width: 100%;
    }
}

#react-entry-point {
    height: auto
}

/* Scalable Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container.scalable {
    width: 95%;
    max-width: none;
    height: auto;
}

/* Banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.banner {
    background-color: #264653;/*#4986B6;/*#B64986;/*#8f4d86; /*#2f3445; /* Machine Learning Color is orange */
    padding: 0rem 0;
    width: 100%;
    margin-bottom: 2rem;
}

.banner h2 {
    color: #a5b1cd;
    display: inline-block;
    font-family: 'Playfair Display', sans-serif;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
}

.banner h2:hover {
    color: #b4b5bf;
    cursor: pointer;
}

.banner Img {
    position: relative;
    float: right;
    height: 14rem;
    margin-top: 1.00rem
}

@media (max-width: 1300px) {

    .banner .container.scalable {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .banner h2 {
        font-size: 4rem;
    }

    .banner Img {
        height: 10rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 700px) {
    .banner .container.scalable {
        padding: 0
    }

    .banner Img {
        height:  9.5rem;
        margin-bottom: 2rem;
    }

    .banner h2 {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    .banner {
        padding: 1rem 0;
        margin-bottom: 1rem;
    }

    .banner Img {
        height: 6rem;
        margin-bottom: 1rem;
    }

    .banner h2 {
        font-size: 2.5rem;
    }
}

/* app-container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 951px) {
    #app-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

/* Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tab {
    color: #a5b1cd;
    background-color: #264653;
}

.tab--selected.jsx-3468109796 {
    color: #a5b1cd;
    background-color: #264653;
    border-top: 3px solid #e36209;
}

.custom-tabs-container {
    width: 85%;
}
.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #2f3445;
    padding: 0px 24px;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    color:#ff00d9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #2f3445;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #e36209 !important;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#button-zero-threshold {
    background-color: #2f3445;
    color: #a5b1cd;
    border-color: gray;
}

#button-zero-threshold:hover {
    border-color: white;
}

#button-card {
    display: flex;
    flex-direction: column;
}

#reset-button {
    color: #e76f51;
}

#delete-button {
    color: #e76f51;
}

#new-button {
    color: #a5b1cd;
}

/* Dropdowns
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.Select-control {
    color: #a5b1cd;
}

.Select {
    color: #a5b1cd;
}

.Select-menu-outer {
    background-color: #2f3445;
    border: 1px solid gray;
}

.Select div {
    background-color: #2f3445;
}

.Select-menu-outer div:hover {
    background-color: rgba(255, 255, 255, 0.01);
}

.Select-value-label {
    color: #a5b1cd !important;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid gray;
    border-radius: 4px;
}

.card {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    padding: 2rem 0;
}

#protons-card, #neutrons-card, #zmin-card, #zmax-card, #nmin-card, #nmax-card {
    border-bottom: none;
    padding: 0rem 0;
}

.graph-title {
    font-size: 2rem;
    margin: 15% 0 0 25%;
}

#first-card {
    padding-top: 0;
}

@media (max-width: 1500px) {
    .rc-slider-mark-text {
        font-size: 0.7vw;
    }
}

@media (max-width: 950px) {
    .rc-slider-mark-text {
        font-size: 1.5vw;
    }
}


@media (max-width: 650px) {
    .rc-slider-mark-text {
        font-size: 2vw;
    }
}


@media (min-width: 1301px) {
    #left-column {
        flex: 1 20%;
        margin: 0 3rem 0 0;
        max-height: none;
        max-width: 20%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .card {
        padding-left: 2rem;
    }
}

@media (max-width: 1300px) {
    #left-column {
        flex: 1 35%;
        margin: 0 0 0 0;
        max-height: none;
        max-width: 25%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media (min-width: 1301px) {
    #right-column {
        flex: 1 20%;
        margin: 0 0 0 3rem;
        max-height: 83rem;
        max-width: 20%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    /* .card {
        padding-left: 2rem;
    } */
}

@media (max-width: 1300px) {
    #right-column {
        flex: 1 24%;
        margin:  0 0 0 3rem;
        max-height: 70rem;
        max-width: 20%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media (max-width: 1200px) {
    #button-zero-threshold {
        font-size: 0.8rem;
        padding: 0
    }
}

@media (max-width: 950px) {
    #button-zero-threshold {
        font-size: 1.0rem;
        padding: 0
    }
}

@media (max-width: 950px) {
    #left-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        max-height: none;
        max-width: none;
    }
}

@media (max-width: 950px) {
    #right-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        max-height: none;
        max-width: none;
    }
}

@media (max-width: 700px) {
    #first-card {
        margin: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/* Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.rc-slider-track {
    background-color: #13c6e9;
}

.rc-slider-handle {
    border: solid 2px #13c6e9;
}

/* Left column
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#slider-svm-parameter-C-coef {
    padding: 5px 10px 25px;
}

#slider-svm-parameter-gamma-coef {
    padding: 5px 10px 25px
}

#shrinking-container {
    padding: 20px 10px 25px 4px
}

/* Right column
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#slider-svm-parameter-C-coef {
    padding: 5px 10px 25px;
}

#slider-svm-parameter-gamma-coef {
    padding: 5px 10px 25px
}

#shrinking-container {
    padding: 20px 10px 25px 4px
}

/* Graph container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#svm-graph-container {
    margin-top: 0rem;
}

#svm-graph-container .graph-wrapper {
    height: 100%;
    width: 100%;
}

/* #graph-container {

} */

@media (min-width: 951px) {
    #graphs-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }

    #graphs-container .graph-wrapper {
        flex: 1 50%;
    }

    #graph-line-roc-curve, #graph-pie-confusion-matrix {
        height: 100%;
        width: 100%;
    }

    #div-graphs {
        flex: 4 80%;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: stretch;
    }

    #div-graphs-gpe {
        flex: 4 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    #div-graphs-loading {
        flex: 4 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    #div-right {
        flex: 4 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    #graph-sklearn-svm {
        height: 100%;
    }

    #svm-graph-container {
        flex: 2 66%;
    }

    #graphs-container {
        flex: 1 33%;
        margin-top: 0.5rem;
    }
}

@media (min-width: 1301px) {
    #div-graphs {
        height: 83rem;
    }
    #div-graphs-gpe {
        height: 83rem;
    }
    #div-graphs-loading {
        height: 83rem;
    }
    /* .gtitle {
        font-size: .5 !important;
    }
    .xtitle, .ytitle {
        font-size: .5 !important;
    } */
}

@media (max-width: 1300px) {
    #div-graphs {
        height: 70rem;
    }

    #div-graphs-gpe {
        height: 70rem;
    }

    #div-graphs-loading {
        height: 70rem;
    }
    /* .gtitle {
        font-size: .5 !important;
    }

    .xtitle, .ytitle {
        font-size: .5 !important;
    } */
}

@media (max-width: 950px) {
    #div-graphs {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #div-graphs-gpe {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #div-graphs-loading {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #svm-graph-container {
        width: 80vw;
        height: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 4rem;
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    }

    #svm-graph-container .graph-wrapper {
        width: 80vw;
        height: 80vw;
    }

    #graphs-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        width: 90%;
        max-width: 90%;
        margin: 0 0 0 -1rem;
        max-height: none;
    }

    #graphs-container .graph-wrapper:nth-of-type(1) {
        height: 40rem;
        margin: 3rem 0 1rem -3rem;
        width: 100%;
    }

    #graphs-container .graph-wrapper:nth-of-type(2) {
        height: 60rem;
        margin-bottom: 5rem;
        width: 100%;
    }

    #graph-sklearn-svm, #graph-line-roc-curve, #graph-pie-confusion-matrix {
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 650px) {
/*
    #graphs-container {
        align-items: center;
        width: 100%;
        max-width: 100%;
    }

    #graph-line-roc-curve {
        width: 95%;
        margin: 3rem 0 1rem 0;
    }

    #graph-pie-confusion-matrix {
        width: 95%;
        margin-bottom: 5rem;
    }

    #graphs-container .graph-wrapper:nth-of-type(1) {
        height: 35rem;
    }

    #graphs-container .graph-wrapper:nth-of-type(2) {
        height: 45rem;
        padding-left: 3rem;
    }*/
}

@media (max-width: 400px) {
    #graphs-container .graph-wrapper:nth-of-type(1) {
        height: 25rem;
    }

    #graphs-container .graph-wrapper:nth-of-type(2) {
        height: 40rem;
        padding-left: 3rem;
    }
}

/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#graph-line-roc-curve .modebar, #graph-pie-confusion-matrix .modebar {
    display: none;
}
